<ion-view>
	<ion-header-bar class="bar bar-header" id="header">
      <h1 class="title">CheckPlease</h1>
      <button class="button button-icon icon ion-navicon"></button>
  </ion-header-bar>

  <ion-content class= "has-header" id="home" scroll="false">

  	<div class="row row-no-padding">
  		<div class="col">
			  <button class="nav-item" id="tables" ui-sref="tables">
				  	<h3 class="nav-item-title">TABLES</h3>
				  	<p class="nav-item-text">See the status of each table</p>
				</button>
			</div>
		</div>


		<div class="row row-no-padding">
			<div class="col">
			  <button class="nav-item" id="customers" ui-sref="customers">
			  	<h3 class="nav-item-title">CUSTOMERS</h3>
			  	<!-- This will be replaced with a database value -->
			  	<p class="nav-item-text">See the customer profile</p>
			  </button>
			 </div>
		</div>

		<div class="row row-no-padding">
			<div class="col">
			  <button class="nav-item" id="menu" ui-sref="menu">
			  	<h3 class="nav-item-title">MENU</h3>
			  	<!-- This will be replaced with a database value -->
			  	<p class="nav-item-text">View, add, or edit the menu</p>
			  </button>
			</div>
		</div>

		<div class="row row-no-padding">
			<div class="col">
			  <button class="nav-item" id="analysis" ui-sref="analysis">
			  	<h3 class="nav-item-title">ANALYSIS</h3>
			  	<!-- This will be replaced with a database value -->
			  	<p class="nav-item-text">View the analysis data</p>
			  </button>
			</div>
		</div>



	</ion-content>
</ion-view>


