/* This is the main styling page. It includes all substyles and its CSS file is
 * the one ultimately included in the index file. Be sure to run SASS before 
 * running to enusre that all changes to .scss files are refelcted in 
 * style.css.
 *
 * Run this SASS command from the www/ directory: sass --watch ./ &
 *
 * Don't include any style in ehre that is not truly universal. This is mostly
 * for importing all the styles and definifn global variables.
 */

/* Variables */
$light_black: #3B4B54;
$red: #B83F3F;

/* Ionic styling. This should always be first so it can be overwritten */
@import '../lib/ionic/scss/ionic';

/* Next come global styles so they can be overwritten */
.default-bg {
    background-color: $light_black;
}

/* Finally the views custom styling */
@import 'views/views';