/* views/tables/tables.html */


#tables-header {
	
}
#tables {
	background-color: #80ffd4; 

	.table-container {
		display: -webkit-box;
	    display: -moz-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
		display: flex;
		flex-direction: row;
		flex-flow: row wrap;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		align-content: flex-start;
		padding: 5px;
		/*box-sizing: border-box;*/
	}

	.table-item {
  	    margin: 10px;
  	    text-align: center;
  	    line-height: 100%;
  	    color: white;
  	    background-color: #3b4b54;
  	    font-size: 50px;
  	    color: white;
  	    /*flex-basis: 200px;*/
	    flex-grow: 0;
	    height: 200px;
	    margin: 10px;
	    width: 200px;

  	    #table-image {
			color: white;
			height: 80%;
			font-size: 50px;
		}

		#table-info {
			height: 20%;
			font-size: 20px;
			p {
				color: white;
			}	
		}

	}

		  

}