<ion-view>
	<ion-header-bar class="bar bar-header" id="tables-header">
	  <h1 class="title">Tables</h1>
	  <button class="button button-icon icon ion-navicon"></button>
  </ion-header-bar>

  <ion-content class= "has-header" id="tables" scroll="true">
 <!--
			<button class="table-button" ng-click="goToCustomer({{ curr_customer.id }})">
				<div class="table-content">
					<p>Table Number: {{table_num}}</p>
					<p>Customer Name: {{curr_customer.name}}</p>
					<p>Status: Occupied</p>
				</div>
			</button>
-->

	<button class="table-button" ng-repeat="customer in customer_list" ng-click="goToCustomer({{ customer.id }})">
		<h1>table number: {{ customer.table_id }}</h1>
		<h2>name: {{ customer.name }}</h2>
	</button>
  
	</ion-content>

</ion-view>