<ion-view>
	<ion-header-bar class="bar bar-header" id="tables-header">
	  <h1 class="title">Tables</h1>
	  <button class="button button-icon icon ion-navicon"></button>
  </ion-header-bar>

  <ion-content class= "has-header" id="tables" scroll="true">
		<div class="table-container">
			<button class="table-item" ng-repeat="customer in customer_list" ng-click="goToCustomer({{ customer.id }})">
				<div class="table-content">
					<div id="customer-image"> </div>
					<div id="customer-info">
						<h1> table number: {{ customer.table_id }}</h1>
						<h2>name: {{ customer.name }}</h2>
					</div>

				</div>
			</button>
		</div>
  
	</ion-content>

</ion-view>