<ion-view>
	<ion-header-bar class="bar bar-header">
    <button class="button button-icon icon  ion-chevron-left" ng-click="goBack()"></button>
	  <h1 class="title">Table Number: {{ curr_customer.table_id }}</h1>
	  <button class="button button-icon icon ion-navicon"></button>
  </ion-header-bar>

  <ion-content class= "has-header" id="customers" scroll="true">
<!--
  	<div class="container" id="customer-container">
  		<div class="row customer-row" id="customer-row1">
  				<button class="button button-icon icon ion-plus customer-button" id="add-menu-item" ng-click="addButton()"></button>
  			</div>
  		</div>
  	</div>
-->

  <div class="customer-container">
    <div class="customer-item" ng-repeat="menu_item in curr_customer.menu_items">
      <div id="customer-image">
        <p> {{ menu_item.img }} </p>
      </div>
      <div id="customer-info">
        <p>{{ menu_item.name}} x{{ menu_item.quantity }} </p>
        <p>price: ${{ getPrice(menu_item) }}</p>
      </div>
    </div>

    <button class="button button-icon icon ion-plus customer-item" id="add-menu-item" ng-click="modal.show()"></button>
  </div>

  <div class="order-summary">
    <h3>Total: ${{order_total}} <h3>
    <button class="button button-block button-positive">Order Complete</button>
  </div>

	</ion-content>

</ion-view>